$purple: #D1A1FF;
$green: #55B36B;
$black: #1E1E1E;
$light: #ffc72c;
$dark: #265AA8;
$blue: #64C2FF;
$bg: #f9f9f9;

/* dark mode */
$d_black1: #202124;
$d_black2: #35363A;
$d_white1: #f9f9f9;
$d_white2: #ccc;
$d_white3: #666;