@charset "utf-8";
@import "_var", "_mixin";

// pc (1920px)
#about{
  padding-top: 124px;
  .wrap{
    margin: 0 240px;
    .content{
      @include flex;
      @include flex-wrap;
      @include justify-content(space-between);
      > div{
        width: calc(100%/3 - 20px);
        p{
          @include flex;
          @include align-items;
          line-height: 24px;
          span{
            display: inline-block;
            #today{color: gray;vertical-align: top;}
          }
        }
      }
    }
  }
}
.accordion{
  .acdnHeader{
    position: relative;width: 100%;padding-left: 8px;text-align: left;border-left: 4px solid $black;
    i{
      @include translateY-50;
      content: "";position: absolute;right: 0;top: 50%;padding: 0 10px;
    }
  }
  .acdnHeader.on{border-color: $purple;}
  .acdnPanel{
    @include transition(all 0.8s);
    visibility: hidden;max-height: 0;overflow: hidden;
    > div{padding-left: 12px;}
  }
  .acdnPanel.on{
    @include transition(all 0.8s);
    visibility: visible;max-height: 300px;
  }
}



