#about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .content > div {
  width: calc(100%/3 - 20px);
}

#about .content > div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 24px;
}

#about .content > div p span {
  display: inline-block;
}

#about .content > div p span #today {
  color: gray;
  vertical-align: top;
}

.accordion .acdnHeader {
  position: relative;
  width: 100%;
  padding-left: 8px;
  text-align: left;
  border-left: 4px solid #1E1E1E;
}

.accordion .acdnHeader i {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0 10px;
}

.accordion .acdnHeader.on {
  border-color: #D1A1FF;
}

.accordion .acdnPanel {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
}

.accordion .acdnPanel > div {
  padding-left: 12px;
}

.accordion .acdnPanel.on {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  visibility: visible;
  max-height: 300px;
}
