@charset "utf-8";
@import "_var", "_mixin";

// pc (1920px)
#awards{
  padding-top: 124px;
  .wrap{
    margin: 0 240px;
  }
}
.swiper-slide{
  @include flex;
  > div{
    width: 100%;
    .content_box{
      width: calc(100% - 36px);
    }
  }
}