/* dark mode */
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dd, button {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

a:link, button {
  cursor: url("../images/common/cursor2.png"), auto;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

img {
  border: none;
  vertical-align: top;
  max-width: 100%;
}

video {
  vertical-align: top;
  max-width: 100%;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  background: none;
}

header, nav, section, footer {
  display: block;
}

.p_r {
  position: relative;
}

.p_a {
  position: absolute;
}

.blind {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.hidden {
  visibility: hidden;
}

.wrap {
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
}

.content_box {
  background: #fff;
  padding: 20px 16px;
  border-radius: 24px;
}

.mr3 {
  margin-right: 3px;
}

.mr8 {
  margin-right: 8px;
}

.pt60 {
  padding-top: 60px;
}

.pb60 {
  padding-bottom: 60px;
}

.mt8 {
  margin-top: 8px;
}

.mt12 {
  margin-top: 12px;
}

.mt16 {
  margin-top: 16px;
}

.mt24 {
  margin-top: 24px;
}

.mt60 {
  margin-top: 60px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb20 {
  margin-bottom: 20px;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font20 {
  font-size: 20px;
}

.font22 {
  font-size: 22px;
}

.font24 {
  font-size: 24px;
}

.font30 {
  font-size: 30px;
}

.font32 {
  font-size: 32px;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.shadow1 {
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.shadow2 {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.purple {
  color: #D1A1FF;
}

.green {
  color: #55B36B;
}

.transition {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.roboto {
  font-family: "Roboto",sans-serif;
}

/* motion keyframes */
@-webkit-keyframes horizontalscroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  99%, 100% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}
@keyframes horizontalscroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  99%, 100% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: translateX(-50%) rotate(0);
    transform: translateX(-50%) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
    transform: translateX(-50%) rotate(360deg);
  }
}

@-webkit-keyframes scroll {
  0%, 100% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  40%, 80% {
    -webkit-transform: translateX(-50%) translateY(10px);
    transform: translateX(-50%) translateY(10px);
  }
}

@keyframes scroll {
  0%, 100% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  40%, 80% {
    -webkit-transform: translateX(-50%) translateY(10px);
    transform: translateX(-50%) translateY(10px);
  }
}

@-webkit-keyframes txtUp {
  0% {
    margin-top: 200px;
  }
  5% {
    margin-top: 0px;
  }
  33% {
    margin-top: 0px;
  }
  38% {
    margin-top: -200px;
  }
  66% {
    margin-top: -200px;
  }
  71% {
    margin-top: -400px;
  }
  99% {
    margin-top: -400px;
  }
  100% {
    margin-top: -500px;
  }
}

@keyframes txtUp {
  0% {
    margin-top: 200px;
  }
  5% {
    margin-top: 0px;
  }
  33% {
    margin-top: 0px;
  }
  38% {
    margin-top: -200px;
  }
  66% {
    margin-top: -200px;
  }
  71% {
    margin-top: -400px;
  }
  99% {
    margin-top: -400px;
  }
  100% {
    margin-top: -500px;
  }
}

#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 1000;
}

#skip a:focus {
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-weight: 700;
  background: #D1A1FF;
  text-align: center;
}

body {
  font-family: "DM Sans", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #1E1E1E;
  line-height: 1;
  font-weight: 400;
  word-break: keep-all;
  background: #f9f9f9;
  cursor: url("../images/common/cursor1.png"), auto;
  scrollbar-width: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  position: absolute;
  width: 100%;
  padding: 0 240px 60px;
  z-index: 900;
  -webkit-transition-property: padding !important;
  transition-property: padding !important;
}

header #header_wrap {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: relative;
  width: 100%;
  height: 64px;
  background: -webkit-gradient(linear, left top, right top, from(#55B36B), color-stop(#D1A1FF), to(#64C2FF));
  background: linear-gradient(to right, #55B36B, #D1A1FF, #64C2FF);
  background-size: 200% 100%;
  background-position: 0 0;
  border-radius: 24px;
  z-index: 1;
}

header #header_wrap .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  margin: 0 20px;
  height: 64px;
}

header #header_wrap .wrap .pc_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #header_wrap .wrap .pc_nav .logo a {
  display: block;
  width: 60px;
  height: 60px;
  background: url("../images/common/favicon.ico") no-repeat center/cover;
}

header #header_wrap .wrap .pc_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

header #header_wrap .wrap .pc_nav ul li a {
  display: block;
  font-size: 18px;
  line-height: 32px;
  padding: 0 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header #header_wrap .wrap .pc_nav ul li:hover a, header #header_wrap .wrap .pc_nav ul li a:focus-visible {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header #header_wrap .wrap #toggleTheme {
  font-size: 32px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

header #header_wrap .wrap #toggleTheme:hover, header #header_wrap .wrap #toggleTheme:focus-visible {
  color: #265AA8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header #header_wrap .wrap #toggleTheme i {
  margin-top: 6px;
}

header .m_nav {
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
}

header.fixed {
  position: fixed;
  top: 0 !important;
  padding: 0;
}

header.fixed #header_wrap {
  border-radius: 0;
}

.scrollBtn {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 30%;
  left: 50%;
  width: 32px;
  height: 48px;
  border: 3px solid #1E1E1E;
  border-radius: 20px;
}

.scrollBtn::after {
  -webkit-animation: scroll 2s infinite;
  animation: scroll 2s infinite;
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  width: 8px;
  height: 8px;
  background: #1E1E1E;
  border-radius: 20px;
}

.scrollBtn.w {
  border-color: #fff;
}

.scrollBtn.w::after {
  background: #fff;
}

#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 64px;
  height: 160px;
  display: none;
  z-index: 800;
}

#topBtn .arrow_top {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 26px;
  left: 61%;
  width: 2px;
  height: 24px;
  background: #1E1E1E;
}

#topBtn .arrow_btm {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 2px;
  height: 100px;
  background: #1E1E1E;
}

#topBtn:hover .arrow_top, #topBtn:focus .arrow_top {
  top: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#topBtn:hover .arrow_btm, #topBtn:focus .arrow_btm {
  height: 120px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#topBtn .round {
  -webkit-animation: round 10s infinite linear;
  animation: round 10s infinite linear;
  position: absolute;
  bottom: -30%;
  left: 50%;
  width: 120px;
  height: 100%;
  background: url("../images/common/topBtn_round.png") no-repeat left/contain;
  z-index: -1;
}

.section {
  padding-top: 124px;
}

.section .wrap {
  margin: 0 240px;
}

.section .wrap > .title {
  margin-bottom: 36px;
}

footer {
  position: relative;
  z-index: 0;
  background: #D1A1FF;
  color: #1E1E1E;
  padding: 40px 0 60px;
}

footer .wrap div {
  text-align: center;
  font-size: 14px;
}

footer .wrap div a {
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
}

footer .wrap div p {
  line-height: 1.4;
}

footer .flow {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}

footer .flow ul {
  -webkit-animation: horizontalscroll 30s linear infinite;
  animation: horizontalscroll 30s linear infinite;
  background: #55B36B;
  color: #1E1E1E;
  border-top: 2px solid #1E1E1E;
  border-bottom: 2px solid #1E1E1E;
  width: 4368px;
}

footer .flow ul li {
  margin-right: 48px;
  font-size: 18px;
  line-height: 2;
  display: inline-block;
  font-weight: 500;
}

html.dark body {
  color: #f9f9f9;
  background: #202124;
  cursor: url("../images/common/cursor_dark.png"), auto;
}

html.dark header #header_wrap {
  background-position: 100% 0;
}

html.dark header #header_wrap .wrap {
  color: #202124;
}

html.dark header #header_wrap .wrap #toggleTheme:hover, html.dark header #header_wrap .wrap #toggleTheme:focus-visible {
  color: #ffc72c;
}

html.dark header #header_wrap .wrap .menu_wrap {
  background: #35363A;
}

html.dark header #header_wrap .wrap .menu_wrap .menu li a {
  color: #f9f9f9;
}

html.dark header #header_wrap .wrap .menu_wrap .menu li:hover a, html.dark header #header_wrap .wrap .menu_wrap .menu li a:focus-visible {
  color: #D1A1FF;
}

html.dark header #header_wrap .wrap .menu_wrap .menu_close {
  background-image: url("../images/common/close_btn_w.png");
}

html.dark .scrollBtn {
  border-color: #f9f9f9;
}

html.dark .scrollBtn::after {
  background: #f9f9f9;
}

html.dark #topBtn .arrow_top {
  background: #f9f9f9;
}

html.dark #topBtn .arrow_btm {
  background: #f9f9f9;
}

html.dark #topBtn .round {
  background-image: url("../images/common/topBtn_round_w.png");
}

html.dark footer {
  background: #35363A;
  color: #f9f9f9;
}

html.dark footer .flow ul {
  background: #D1A1FF;
}

@media screen and (max-width: 1440px) {
  header {
    padding: 0 120px 60px;
  }
  .section .wrap {
    margin: 0 8.33333vw;
  }
}

@media screen and (max-width: 1320px) {
  header {
    padding: 0 60px 60px;
  }
  .section .wrap {
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  header {
    padding: 0 40px 40px;
  }
  header #header_wrap .wrap .pc_nav {
    display: none;
  }
  header #header_wrap .wrap .m_nav {
    visibility: visible;
    max-height: 64px;
    overflow: visible;
  }
  header #header_wrap .wrap .m_nav .logo a {
    display: block;
    width: 60px;
    height: 60px;
    background: url("../images/common/favicon.ico") no-repeat center/cover;
  }
  header #header_wrap .wrap .m_nav .menu_open {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 52px;
    width: 20px;
    height: 20px;
    background: url("../images/common/menu_open_btn.png") no-repeat center/cover;
  }
  header #header_wrap .wrap .m_nav .menu_dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1E1E1E;
    opacity: 0;
  }
  header #header_wrap .wrap .m_nav .menu_wrap {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background: #fff;
    padding: 20px;
    visibility: hidden;
  }
  header #header_wrap .wrap .m_nav .menu_wrap .menu li a {
    display: block;
    margin: 30px 0;
    padding: 10px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  header #header_wrap .wrap .m_nav .menu_wrap .menu li:hover a, header #header_wrap .wrap .m_nav .menu_wrap .menu li a:focus-visible {
    color: #55B36B;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  header #header_wrap .wrap .m_nav .menu_wrap .menu_close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url("../images/common/close_btn.png") no-repeat center/cover;
  }
  .section .wrap {
    margin: 0 12px;
  }
}
