/* motion keyframes */
@-webkit-keyframes scroll {
  0%, 100% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  40%, 80% {
    -webkit-transform: translateX(-50%) translateY(10px);
    transform: translateX(-50%) translateY(10px);
  }
}
@keyframes scroll {
  0%, 100% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  40%, 80% {
    -webkit-transform: translateX(-50%) translateY(10px);
    transform: translateX(-50%) translateY(10px);
  }
}

/* common class */
.movetop {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.movetop.on {
  -webkit-transition: all 1.2s ease-out 0.3s;
  transition: all 1.2s ease-out 0.3s;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.experience_history li {
  position: relative;
  padding: 0 0 72px 62px;
}

.experience_history li::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 4px;
  bottom: -3px;
  width: 3px;
  border-radius: 3px;
  background: #eee;
}

.experience_history li:last-child {
  padding-bottom: 0;
}

.experience_history li:last-child::before {
  display: none;
}

.experience_history li::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #1E1E1E;
}

.experience_history li a {
  display: block;
  overflow: hidden;
}

.experience_history li a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience_history li a > div .thumb_wrap {
  width: 240px;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;
}

.experience_history li a > div .thumb_wrap img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.experience_history li a > div .thumb_wrap:hover img, .experience_history li a > div .thumb_wrapfocus img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.experience_history li a > div .cnt_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 60px;
}

.experience_history li a > div .cnt_wrap .date {
  display: block;
  line-height: 32px;
}

.experience_history li a > div .cnt_wrap .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  max-height: 104px;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow: hidden;
  line-height: 52px;
}

.experience_history li a > div .cnt_wrap .tag_wrap {
  display: block;
}

.experience_history li a > div .cnt_wrap .tag_wrap .tag {
  display: inline-block;
  line-height: 30px;
  color: #888;
}

.minumsa .cover .copy {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  color: #fff;
}

.minumsa .cover .copy .cover_keyword {
  width: 330px;
  height: 65px;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
}

.minumsa .cover .copy .cover_logo {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.minumsa .cover .copy .cover_mem {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: 7%;
}

.minumsa .cover .mv_wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.minumsa .cover .mv_wrap video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.minumsa .overview .top {
  position: relative;
  height: 500px;
  background: #000;
}

.minumsa .overview .mid {
  position: relative;
  margin-top: -700px;
  padding-bottom: 120px;
}

.minumsa .overview .mid .video {
  position: relative;
  width: 960px;
  height: 720px;
  z-index: 10;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  padding-top: 55px;
}

.minumsa .overview .mid .video .mv_wrap {
  position: relative;
  overflow: hidden;
  z-index: 10;
  background: #1E1E1E;
  border: 3px solid #1E1E1E;
  border-radius: 25px;
}

.minumsa .overview .mid .video .mv_wrap video {
  -o-object-fit: cover;
     object-fit: cover;
}

.minumsa .overview .mid .copy {
  position: relative;
  margin-top: -72px;
  text-align: center;
}

.minumsa .overview .mid .copy strong {
  display: block;
  margin-top: 60px;
  font-size: 24px;
}

.minumsa .overview .mid .copy p {
  margin-top: 40px;
  line-height: 200%;
  font-size: 14px;
  letter-spacing: -0.02rem;
}

.minumsa .strategy {
  padding: 280px 0 337px;
  background: #000 url(../images/experience/01miumsa/bg_strategy.jpg) 50% 0 no-repeat;
  color: #fff;
}

.minumsa .strategy .inner {
  text-align: center;
}

.minumsa .strategy .inner strong {
  display: block;
  line-height: 200%;
  letter-spacing: 8px;
}

.minumsa .strategy .inner .group {
  margin-top: 180px;
}

.minumsa .strategy .inner .group dl::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 auto 30px;
  background: #fff;
  border-radius: 50%;
}

.minumsa .strategy .inner .group dl dt {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.2;
}

.minumsa .strategy .inner .group dl dd {
  margin-top: 20px;
  font-size: 14px;
  line-height: 172%;
  letter-spacing: -0.02rem;
}

.minumsa .strategy .inner .group dl + dl {
  margin-top: 130px;
}

.minumsa .style {
  padding: 220px 0;
  background: #E2E2E2;
}

.minumsa .style .typography .inner {
  text-align: center;
}

.minumsa .style .typography .inner dl::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 auto 15px;
  background: #1E1E1E;
  border-radius: 50%;
}

.minumsa .style .typography .inner dl dt {
  font-weight: 700;
  margin-bottom: 60px;
}

.minumsa .style .typography .inner dl dd ul {
  font-size: 60px;
}

.minumsa .style .typography .inner dl dd ul li {
  margin-bottom: 20px;
  font-family: "Noto Sans KR";
  font-weight: 700;
}

.minumsa .style .typography .inner dl dd ul li + li {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  font-family: "DM Sans";
}

.minumsa .style .colors {
  text-align: center;
  margin-top: 200px;
}

.minumsa .style .colors dl::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 auto 15px;
  background: #1E1E1E;
  border-radius: 50%;
}

.minumsa .style .colors dl dt {
  font-weight: 700;
  margin-bottom: 60px;
}

.minumsa .style .colors dl dd ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.minumsa .style .colors dl dd ul li span {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  padding-top: 36%;
  margin: 0 20px;
}

.minumsa .style .colors dl dd ul li:nth-child(1) span {
  background-color: #189066;
  color: #fff;
}

.minumsa .style .colors dl dd ul li:nth-child(2) span {
  background-color: #1E1E1E;
  color: #fff;
}

.minumsa .style .colors dl dd ul li:nth-child(3) span {
  background-color: #AAA;
  color: #1E1E1E;
}

.minumsa .style .colors dl dd ul li:nth-child(4) span {
  background-color: #F9F9F9;
  color: #1E1E1E;
}

.minumsa .design_main .bottom {
  position: relative;
  padding: 60px 0 129px;
  background: #fff;
  color: #000;
  text-align: center;
}

.minumsa .design_main .bottom dl::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  margin: 0 auto 15px;
  background: #000;
  border-radius: 50%;
}

.minumsa .design_main .bottom dl dt {
  font-weight: 700;
  margin-bottom: 60px;
}

.minumsa .design_main .bottom dl dd {
  font-size: 14px;
  line-height: 172%;
  letter-spacing: -0.02rem;
  margin-bottom: 100px;
}

.minumsa .design_main .bottom .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.minumsa .design_main .bottom .video {
  position: relative;
  width: 960px;
  z-index: 10;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

.minumsa .design_main .bottom .video .mv_wrap {
  position: relative;
  overflow: hidden;
  z-index: 10;
  background: #1E1E1E;
  border: 3px solid #1E1E1E;
  border-radius: 25px;
}

.minumsa .design_main .bottom .video .mv_wrap video {
  -o-object-fit: cover;
     object-fit: cover;
}

.minumsa .design_main .bottom .tablet {
  width: 384px;
  margin: 0;
  display: inline-block;
  margin-right: 100px;
}

.minumsa .design_main .bottom .mobile {
  width: 207px;
  margin: 0;
  display: inline-block;
}

.minumsa .design_main .bottom .link_btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  text-align: center;
  width: auto;
  height: 54px;
  line-height: 54px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 15px;
  padding: 0 30px;
  background: #1E1E1E;
  color: #fff;
  margin-top: 90px;
}

.minumsa .design_main .bottom .link_btn:hover, .minumsa .design_main .bottom .link_btn:focus {
  background: #55B36B;
}

.minumsa .design_main .bottom .first {
  margin-right: 20px;
}

.minumsa .design_main .bottom .last:hover, .minumsa .design_main .bottom .last:focus {
  background: #5380a3;
}

#scrollBtn {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 32px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 20px;
}

#scrollBtn::after {
  -webkit-animation: scroll 2s infinite;
  animation: scroll 2s infinite;
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .experience_history li a > div .cnt_wrap {
    padding-left: 40px;
  }
}
