@charset "utf-8";
@import "_var", "_mixin";

// pc (1920px)
#experience{
  padding-top: 124px;
  .wrap{
    margin: 0 240px;
  }
}
.experience_history{
  li{
    position: relative;padding: 0 0 72px 62px;
    &::before{
      content: "";position: absolute;top: 22px;left: 4px;bottom: -3px;width: 3px;border-radius: 3px;background: #eee;
    }
    &::after{
      content: "";position: absolute;top: 6px;left: 0;width: 12px;height: 12px;border-radius: 12px;background: $black;
    }
    a{
      display: block;overflow: hidden;
      .thumb_wrap{
        width: 240px;height: 180px;border-radius: 12px;overflow: hidden;
        //img{width: 100%;height: 100%;}
      }
    }
  }
}