@charset "utf-8";
@import "_var", "_mixin";

// pc (1920px)
.experience_history{
  li{
    position: relative;padding: 0 0 72px 62px;
    &::before{
      content: "";position: absolute;top: 22px;left: 4px;bottom: -3px;width: 3px;border-radius: 3px;background: #eee;
    }
    &:last-child{
      padding-bottom: 0;
      &::before{display:none}
    }
    &::after{
      content: "";position: absolute;top: 6px;left: 0;width: 12px;height: 12px;border-radius: 12px;background: $black;
    }
    a{
      display: block;overflow: hidden;
      > div{
        @include flex;
        .thumb_wrap{
          width: 240px;height: 180px;border-radius: 12px;overflow: hidden;
          img{width: 100%;height: 100%;@include transition(all 0.3s linear);}
          &:hover img, &focus img{
            @include transform(scale(1.1));
            @include transition(all 0.3s linear);
          }
        }
        .cnt_wrap{
          @include flex;
          @include flex-direction;
          @include justify-content(space-evenly);
          padding-left: 60px;
          .date{display: block;line-height: 32px;}
          .title{@include multiEllipsis(2, 104px);overflow: hidden;line-height: 52px;}
          .tag_wrap{
            display: block;
            .tag{display: inline-block;line-height: 30px;color: #888;}
          }
        }
      }
    }
  }
}