@charset "utf-8";
/************************************************************************
 * 파일명:style.css
 * 설명:레이아웃_공통
 * 작성자:plus-X JMR
 * 작성일:2015.02.23
 * 최종수정일2017.10.23
************************************************************************/
@import url('nanumbarungothic.css');
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare,a,button,select{margin:0;padding:0;font-family:nbgr,'나눔고딕',NanumGothic,'돋움',Dotum,Helvetica Neue,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px}
table{width:100%;margin:0;padding:0;border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
img,ul,li,input{vertical-align:middle}/* 160623 수정 */
fieldset,img{border:0}
input,textarea,select{font-family:inherit;font-size:inherit;*font-size:100%;font-weight:inherit;resize:none;outline:none}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
ol,ul, li{list-style:none}/* 160701 수정 */
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
body,html{height:100%}
section{position:relative;display:block;width:100%;height:100%;overflow:hidden}
#wrap{position:relative;overflow:hidden;height:100%;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;transition:transform 0.5s, visibility 0s 0.5s}
#wrap.overlay-open{-webkit-transform:translateX(-230px);transform:translateX(-230px);-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;transition:transform 0.5s, visibility 0s 0.5s}
.container{position:relative;height:100%}
.menu1{overflow:hidden;position:relative;width:100%;min-width:760px;height:100%}
.container.exper{overflow:hidden}
.logo{position:fixed;left:40px;top:40px;width:74px;height:37px;z-index:50;background:url(../img/logo_plusx.png) 0 0 no-repeat}
.logo a{display:block;width:74px;height:37px;outline:none}
.list_section{overflow:hidden;position:absolute;width:100%;height:100%;left:0;top:0;z-index:20;-webkit-transform:translateX(-14px) translateX(100%);transform:translateX(-14px) translateX(100%);-webkit-transition:-webkit-transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s;transition:transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s;white-space:nowrap;background:#fff}
.list_section .btn_area{position:relative;overflow:hidden;display:inline-block;width:14px;height:100%;background:#fff;cursor:pointer}
.list_section .btn_area .mainbtn{overflow:hidden;display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url(../img/btn_exp.gif) 4px center no-repeat}
.list_section .exp_area{overflow:hidden;display:inline-block;height:100%;margin-left:-3px;background:#fff;vertical-align:top}
.list_section .exp_area .menu1{overflow:hidden;width:100%;min-width:760px;height:100%}
.open .list_section{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s;transition:transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s}
.open .list_section .btn_area{display:none}
.more .list_section{-webkit-transform:translateX(-30px) translateX(100%);transform:translateX(-30px) translateX(100%);-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;transition:transform 0.5s, visibility 0s 0.5s}
.more .list_section .btn_area{width:20px}
.open.more .list_section{-webkit-transform:translateX(0);transform:translateX(0)}
.open.more .list_section .btn_area{width:20px}
.more .list_section .exp_area{display:none}
.keep .list_section{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform 0s cubic-bezier(0,0,0,0), visibility 0s 0s;transition:transform 0s cubic-bezier(0,0,0,0), visibility 0s 0s}
.keep .list_section .btn_area{display:none}
.hamburger{position:fixed;top:40px;right:40px;cursor:pointer;z-index:50;display:block}
.hamburger .hamburger-inner{position:relative;height:23px;width:40px;display:block;margin:0;padding:0}
.hamburger .bar{width:40px;height:1px;background:#323333;position:absolute;top:0}
.hamburger .bar.bar2,.hamburger .bar.bar3{top:11px}
.hamburger .bar.bar4{top:22px}
.hamburger.open .bar1,.hamburger.open .bar4{display:none}
.hamburger.open .bar2,.hamburger.open .bar3{height:1px;background:#fff}
.hamburger.open .bar.bar2{transform:matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0);-webkit-transition:-webkit-transform 0.2s, visibility 0s 0.2s;transition:transform 0.2s, visibility 0s 0.2s}
.hamburger.open .bar.bar3{transform:matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0);-webkit-transition:-webkit-transform 0.2s, visibility 0s 0.2s;transition:transform 0.2s, visibility 0s 0.2s}
.hamburger.close .bar.bar2,.hamburger.close .bar.bar3{transform:matrix(1, 0, 0, 1, 0, 0);-webkit-transition:-webkit-transform 0.2s, visibility 0s 0.2s;transition:transform 0.2s, visibility 0s 0.2s}
.nav{position:fixed;width:430px;height:100%;right:0;top:0;z-index:10;background:#000000;-webkit-transform:translateX(100%);transform:translateX(100%);-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;transition:transform 0.5s, visibility 0s 0.5s}
.nav.open{-webkit-transform:translateX(-430px) translateX(100%);transform:translateX(-430px) translateX(100%);-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;transition:transform 0.5s, visibility 0s 0.5s}
.nav ol{position:absolute;left:38px;top:22%;width:350px;}
.nav ol li{overflow:hidden;height:50px;vertical-align:top}
.nav ol li a{font-family:Helvetica Neue, 'Helvetica Neue', Helvetica;font-size:34px;color:#4c4c4c; font-weight:200}
.nav ol li a:hover{color:#fff;text-decoration:none}
.nav ol li.idframe {overflow:hidden; margin-top:15px; padding-top:25px; border-top:1px solid #262626;}
.nav ol li.idframe:hover {color:#fff;text-decoration:none}
.nav ol li.idframe:visited, .nav .idframe:active {text-decoration:none}
/* .nav .pdf{display:block;position:absolute;left:40px;bottom:40px;width:164px;height:30px;background:url(../img/btn_downpdf.png) 0 0 no-repeat;z-index:10} */
.nav .compcont {position:absolute; left:40px; right:40px; bottom:113px; overflow:hidden; padding-top:14px; border-top:1px solid #262626}
.nav .compcont li{overflow:hidden;margin-top:15px;vertical-align:top;font-family:Helvetica Neue, 'Helvetica Neue', Helvetica;font-size:12px;color:#ffffff;line-height:16px}
.nav .compcont li strong{display:block;font-weight:normal}
.nav .compcont li a{font-family:Helvetica Neue, 'Helvetica Neue', Helvetica;font-size:12px;color:#0aa1ff;text-decoration:underline}
.nav .partner2{position:absolute;left:40px;bottom:60px;z-index:10;background:url(../img/sp_partner2.png) 0 0 no-repeat}
.nav .partner2 li{overflow:hidden;float:left;width:30px;height:30px;margin-right:4px}
.nav .partner2 li a{display:block;width:30px;height:30px}
.por_list{overflow:auto;position:relative;min-widht:100%;height:100%}
.por_list ul{position:relative;left:0;top:50%;overflow:hidden;margin:-210px 0 0 43px;padding-right:25px;white-space:nowrap}
.por_list ul li{position:relative;display:none;overflow:hidden;width:260px;height:420px;vertical-align:top}
.por_list ul li a{display:block}/* 171023 추가 */
.por_list ul li .hover{position:absolute;left:0;top:0;width:100%;height:100%;transition:.5s;opacity:0}
.por_list ul li .hover em{position:relative;overflow:hidden;display:block;padding:18px 0 0 18px;color:#fff;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;font-size:11px;z-index:100;}
.por_list ul li .hover strong{position:relative;overflow:hidden;display:block;padding:18px 0 0 18px;color:#fff;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;font-size:18px;line-height:20px;z-index:100;font-weight:normal}
.por_list ul li .hover .bg{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0.8}
.por_list ul li .bg2{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0.02;background:#000}
.por_list ul li a:hover .hover{opacity:1}
.por_list ul li a:hover .bg2{transition:.8s;opacity:0}
.por_list ul li .awa{overflow:hidden;position:absolute;left:20px;bottom:20px;width:100%;height:20px;z-index:100}
.por_list ul li .awa span{overflow:hidden;float:left;width:20px;height:20px;margin-right:10px;vertical-align:top}
.por_list ul li .awa .degaward{background:url(../img/ico_8award.png) 0 0 no-repeat}
.por_list ul li .awa .appaward{background:url(../img/ico_appaward.png) 0 0 no-repeat}
.por_list ul li .awa .brandnew{background:url(../img/ico_brandnew.png) 0 0 no-repeat}
.por_list ul li .awa .gooddesign{background:url(../img/ico_gooddesign.png) 0 0 no-repeat}
.por_list ul li .awa .gooddesign2{background:url(../img/ico_gooddesignu.png) 0 0 no-repeat}
.por_list ul li .awa .idea{width:87px !important;background:url(../img/ico_idea.png) 0 0 no-repeat}
.por_list ul li .awa .if{background:url(../img/ico_if.png) 0 0 no-repeat}
.por_list ul li .awa .it{background:url(../img/ico_it.png) 0 0 no-repeat}
.por_list ul li .awa .kda{background:url(../img/ico_kda.png) 0 0 no-repeat}
.por_list ul li .awa .reddot{background:url(../img/ico_reddot.png) 0 0 no-repeat}
.por_list ul li .awa .german{background:url(../img/ico_german.png) 0 0 no-repeat}
.por_list ul li .awa .top{background:url(../img/ico_top.png) 0 0 no-repeat}
.por_list ul li .awa .astrid {width:58px !important; background:url(../img/ico_astrid.png) 0 0 no-repeat}
.por_list ul li .awa .arc {width:43px !important; background:url(../img/ico_arc.png) 0 0 no-repeat}
.por_list ul li .awa.black .degaward{background:url(../img/ico_8award2.png) 0 0 no-repeat}
.por_list ul li .awa.black .appaward{background:url(../img/ico_appaward2.png) 0 0 no-repeat}
.por_list ul li .awa.black .brandnew{background:url(../img/ico_brandnew2.png) 0 0 no-repeat}
.por_list ul li .awa.black .gooddesign{background:url(../img/ico_gooddesign2.png) 0 0 no-repeat}
.por_list ul li .awa.black .gooddesign2{background:url(../img/ico_gooddesignu2.png) 0 0 no-repeat}
.por_list ul li .awa.black .idea{background:url(../img/ico_idea2.png) 0 0 no-repeat}
.por_list ul li .awa.black .if{background:url(../img/ico_if2.png) 0 0 no-repeat}
.por_list ul li .awa.black .it{background:url(../img/ico_it2.png) 0 0 no-repeat}
.por_list ul li .awa.black .kda{background:url(../img/ico_kda2.png) 0 0 no-repeat}
.por_list ul li .awa.black .reddot{background:url(../img/ico_reddot2.png) 0 0 no-repeat}
.por_list ul li .awa.black .german{background:url(../img/ico_german2.png) 0 0 no-repeat}
.por_list ul li .awa.black .top{background:url(../img/ico_top2.png) 0 0 no-repeat}
.por_list ul li .awa.black .astrid {background:url(../img/ico_astrid2.png) 0 0 no-repeat}
.por_list ul li .awa.black .arc {background:url(../img/ico_arc2.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .degaward{background:url(../img/ico_8award.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .appaward{background:url(../img/ico_appaward.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .brandnew{background:url(../img/ico_brandnew.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .gooddesign{background:url(../img/ico_gooddesign.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .gooddesign2{background:url(../img/ico_gooddesignu.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .idea{background:url(../img/ico_idea.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .if{background:url(../img/ico_if.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .it{background:url(../img/ico_it.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .kda{background:url(../img/ico_kda.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .reddot{background:url(../img/ico_reddot.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .german{background:url(../img/ico_german.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .top{background:url(../img/ico_top.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .astrid {background:url(../img/ico_astrid.png) 0 0 no-repeat}
.por_list ul li a:hover .awa.black .arc {background:url(../img/ico_arc.png) 0 0 no-repeat}
.list_thumb {width:260px;height:420px;transition:-webkit-transform 0.8s;transition:transform 0.8s}
.por_list li a:hover .list_thumb{-webkit-transform:scale(1.2);transform:scale(1.2)}
.loading {position:absolute;left:0;top:0;display:block;width:0%;height:4px}
.partner{overflow:hidden;position:fixed;left:40px;bottom:34px;padding-left:165px;background:url(../img/sp_partner1.png) 0 0 no-repeat;z-index:50}
.partner li{overflow:hidden;float:left;width:21px;height:21px;margin-right:7px}
.partner li a{display:block;width:21px;height:21px}
.exp_txt{position:absolute;left:137px;top:39px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;font-size:14px;line-height:16px;color:#363636}
.exp_txt strong{display:block;margin-bottom:4px;font-size:18px}
.menu_dim{overflow:hidden;display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:#fff;opacity:0.8;z-index:100}
.overlay-open .menu_dim{display:block}
.people{overflow:hidden;width:100%;height:100%}
.people .bg{position:absolute;left:0;top:0;overflow:hidden;width:100%;height:100%;background:#000;opacity:0.75}
.people .p_list1{position:relative;overflow:hidden;max-width:1442px;height:100%;margin:0 auto;z-index:20;vertical-align:top}
.people .p_list1 .contsec{overflow:hidden;position:absolute;left:0;top:50%;width:100%;margin-top:-227px;vertical-align:top}
.people .p_list1 p{overflow:hidden;margin:0 0 100px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;font-size:100px;color:#fff;font-weight:bold;letter-spacing:-1px}
.people .p_list1 p strong{color:#00aeef}
.people .p_list1 ul{overflow:hidden;float:left;margin-right:30px;vertical-align:top}
.people .p_list1 ul.last{margin-right:0}
.people .p_list1 ul li{position:relative;overflow:hidden;width:338px;height:30px;vertical-align:top}
.people .p_list1 ul li a{position:relative;display:block;width:338px;height:30px;vertical-align:top;z-index:10}
.people .p_list1 ul li::after{content:'';position:absolute;left:0;top:0;width:100%;height:30px;background:#00aeef;-webkit-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:-webkit-transform 0.6s cubic-bezier(.95,0,.55,1), visibility 0s 0.6s;transition:transform 0.6s cubic-bezier(.95,0,.55,1), visibility 0s 0.6s}
.people .p_list1 ul li:hover::after{-webkit-transform:translateX(0%);transform:translateX(0%);-webkit-transition:-webkit-transform 0.2s cubic-bezier(0,.41,.4,1), visibility 0s 0.2s;transition:transform 0.2s cubic-bezier(0,.41,.4,1), visibility 0s 0.2s}
.people .p_list1 ul li::before{content:'';position:absolute;left:0;top:0;width:100%;height:30px;background:url(../img/ico_email.gif) 314px 10px no-repeat;opacity:0;z-index:10}
.people .p_list1 ul li:hover::before{opacity:1;-webkit-animation-name:opc1;-webkit-animation-fill-mode:backwards;-webkit-animation-delay:0.2s;-webkit-animation-duration:0.1s;-webkit-animation-iteration-count:1;-webkit-animation-direction:normal;animation-name:opc1;animation-fill-mode:backwards;animation-delay:0.2s;animation-duration:0.1s;animation-iteration-count:1;animation-direction:normal}
.people .p_list1 ul li a strong{overflow:hidden;float:left;width:170px;margin:7px 0 0 10px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;font-size:14px;color:#fff;font-weight:normal}
.people .p_list1 ul li a em{overflow:hidden;float:left;margin-top:8px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;font-size:12px;color:#fff;opacity:0.4}
.btn_gogl{overflow:hidden;position:fixed;right:54px;bottom:51px;width:35px;height:35px;background:url(../img/btn_gogallery.png) right 0 no-repeat;z-index:20}
.btn_gogl:hover{width:236px;-webkit-animation:wd1 .25s;-moz-animation:wd1 .25s;-o-animation:wd1 .25s;-ms-animation:wd1 .25s;animation:wd1 .25s}
.btn_gomap{overflow:hidden;position:fixed;right:40px;bottom:40px;width:21px;height:30px;background:url(../img/btn_gomap.png) right 0 no-repeat;z-index:20}
.viewing-page-4 .btn_gomap{background:url(../img/btn_gomap2.png) right 0 no-repeat}
.btn_gomap:hover{width:184px;-webkit-animation:wd2 .25s;-moz-animation:wd2 .25s;-o-animation:wd2 .25s;-ms-animation:wd2 .25s;animation:wd2 .25s}
.about_bg1{position:fixed;left:0;top:0;width:100%;height:100%;background:url(../img/bg_about1.jpg) 0 0 no-repeat;background-size:cover;z-index:-10;opacity:0}
.about_bg2 {overflow:hidden;position:absolute;left:0;top:0;width:100%;height:100%;z-index:-10;opacity:0}
.about_bg2 video {position:absolute;top:50%;left:50%;min-width:100%;min-height:100%;width:auto;height:auto;transform:translateX(-50%)translateY(-50%)}
.about_bg2 .bg{position:absolute;left:0;top:0;overflow:hidden;width:100%;height:100%;background:#000;opacity:0.75}
.about_bg3{position:fixed;left:0;top:0;width:100%;height:100%;background:url(../img/bg_about3.jpg) 0 0 no-repeat;background-size:cover;z-index:-10;opacity:0}
.about_bg4{position:fixed;left:0;top:0;width:100%;height:100%;border:10px solid #000;background:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:-10;opacity:0}
.about_bg5 {overflow:hidden;position:absolute;left:0;top:0;width:100%;height:100%;z-index:-10;opacity:0}
.about_bg5 video {position:absolute;top:50%;left:50%;min-width:100%;min-height:100%;width:auto;height:auto;transform:translateX(-50%)translateY(-50%)}
.about_bg5 .bg{position:absolute;left:0;top:0;overflow:hidden;width:100%;height:100%;background:#000;opacity:0.75}
.viewing-page-1 .about_bg1 {z-index:10;-webkit-animation-name:opc1;-webkit-animation-fill-mode:forwards;-webkit-animation-delay:0.0s;-webkit-animation-duration:1.0s;-webkit-animation-iteration-count:1;-webkit-animation-direction:normal;animation-name:opc1;animation-fill-mode:forwards;animation-delay:0.0s;animation-duration:1.0s;animation-iteration-count:1;animation-direction:norma}
.viewing-page-2 .about_bg2 {z-index:10;-webkit-animation-name:opc1;-webkit-animation-fill-mode:forwards;-webkit-animation-delay:0.0s;-webkit-animation-duration:1.0s;-webkit-animation-iteration-count:1;-webkit-animation-direction:normal;animation-name:opc1;animation-fill-mode:forwards;animation-delay:0.0s;animation-duration:1.0s;animation-iteration-count:1;animation-direction:norma}
.viewing-page-3 .about_bg3 {z-index:10;-webkit-animation-name:opc1;-webkit-animation-fill-mode:forwards;-webkit-animation-delay:0.0s;-webkit-animation-duration:1.0s;-webkit-animation-iteration-count:1;-webkit-animation-direction:normal;animation-name:opc1;animation-fill-mode:forwards;animation-delay:0.0s;animation-duration:1.0s;animation-iteration-count:1;animation-direction:norma}
.viewing-page-4 .about_bg4 {z-index:10;-webkit-animation-name:opc1;-webkit-animation-fill-mode:forwards;-webkit-animation-delay:0.0s;-webkit-animation-duration:1.0s;-webkit-animation-iteration-count:1;-webkit-animation-direction:normal;animation-name:opc1;animation-fill-mode:forwards;animation-delay:0.0s;animation-duration:1.0s;animation-iteration-count:1;animation-direction:norma}
.viewing-page-5 .about_bg5 {z-index:10;-webkit-animation-name:opc1;-webkit-animation-fill-mode:forwards;-webkit-animation-delay:0.0s;-webkit-animation-duration:1.0s;-webkit-animation-iteration-count:1;-webkit-animation-direction:normal;animation-name:opc1;animation-fill-mode:forwards;animation-delay:0.0s;animation-duration:1.0s;animation-iteration-count:1;animation-direction:norma}
.page1, .page2, .page3, .page4, .page5 {position:relative;z-index:20}
.page1 .txt {position:absolute;left:50%;top:50%;overflow:hidden;width:1230px;height:243px;margin:-122px 0 0 -615px;background:url(../img/img_about1.png) 0 0 no-repeat;-webkit-transform:translateY(0px);transform:translateY(0px);-webkit-animation-name:mv1;-webkit-animation-fill-mode:backwards;-webkit-animation-delay:0.4s;-webkit-animation-duration:0.5s;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:cubic-bezier(.8,0,0,.8);-webkit-animation-direction:normal;animation-name:mv1;animation-fill-mode:backwards;animation-duration:0.5s;animation-delay:0.4s;animation-iteration-count:1;animation-timing-function:cubic-bezier(.8,0,0,.8);animation-direction:normal;z-index:20}
.page2 .txt1{position:absolute;left:50%;top:50%;overflow:hidden;width:1549px;margin:-368px 0 0 -774px}
.page2 .txt2{position:absolute;left:50%;top:50%;overflow:hidden;width:1549px;height:543px;margin:-249px 0 0 -774px;background:url(../img/img_about2.png) 0 0 no-repeat}
.page3 .txt1{position:absolute;left:50%;top:50%;overflow:hidden;width:1230px;margin:-259px 0 0 -615px}
.page3 .txt1 img{width:385px;height:74px}
.page3 .txt2{position:absolute;left:50%;top:50%;overflow:hidden;width:1230px;height:265px;margin:-4px 0 0 -615px;background:url(../img/img_about3_02.png) 0 0 no-repeat}
.viewing-page-3 .page3 .txt2{-webkit-animation-name:opc1;-webkit-animation-fill-mode:backwards;-webkit-animation-delay:0.5s;-webkit-animation-duration:0.5s;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:cubic-bezier(.6,.0,1,.5);-webkit-animation-direction:normal;animation-name:opc1;animation-fill-mode:backwards;animation-delay:0.5s;animation-duration:0.5s;animation-iteration-count:1;animation-timing-function:cubic-bezier(.6,.0,1,.5);animation-direction:normal}
.onepage-pagination{position:absolute;right:40px;top:50%;width:40px;z-index:5;margin-top:-62px}
.onepage-pagination li{overflow:hidden;height:25px;vertical-align:top;text-align:right}
.onepage-pagination li a{display:block;overflow:hidden;width:40px;height:25px;vertical-align:top;text-align:right}
.onepage-pagination li a em{width:20px;height:2px;display:inline-block;background:#fff;-webkit-animation-name:wd4;-webkit-animation-fill-mode:none;-webkit-animation-duration:0.5s;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:cubic-bezier(0,.5,.5,1);-webkit-animation-direction:normal;animation-name:wd4;animation-fill-mode:none;animation-duration:0.5s;animation-iteration-count:1;animation-timing-function:cubic-bezier(0,.5,.5,1);animation-direction:normal;vertical-align:top}
.onepage-pagination li a.out em{width:40px;-webkit-animation-name:none;animation-name:none}
.onepage-pagination li a:hover em{width:40px}
.onepage-pagination li a.active em{width:40px;height:2px;background:#00aeef;-webkit-animation-name:none;animation-name:none}
.awards{overflow:hidden;position:absolute;left:50%;top:50%;width:1230px;margin:-256px 0 0 -615px;background:url(../img/img_about4_01.png) 0 0 no-repeat;opacity:0}
.viewing-page-4 .page4 .awards{-webkit-animation-name:opc1;-webkit-animation-fill-mode:forwards;-webkit-animation-delay:0.5s;-webkit-animation-duration:0.5s;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:cubic-bezier(.6,.0,1,.5);-webkit-animation-direction:normal;animation-name:opc1;animation-fill-mode:forwards;animation-delay:0.5s;animation-duration:0.5s;animation-iteration-count:1;animation-timing-function:cubic-bezier(.6,.0,1,.5);animation-direction:normal}
.awards ul{overflow:hidden}
.awards ul li{overflow:hidden;float:left;vertical-align:top;background:#fff}
.awards ul li img{vertical-align:top}
.awards ul li dl {overflow:hidden; float:left; width:307px;}
.awards ul li dl dt {overflow:hidden; padding-bottom:20px; vertical-align:top}
.awards ul li dl dd {overflow:hidden; vertical-align:top; font-size:12px; font-family:Helvetica Neue,'Helvetica Neue',Helvetica}
.awards ul li dl dd strong {overflow:hidden; display:block; margin-top:17px; color:#111; vertical-align:top; letter-spacing:0.05em}
.awards ul li dl dd span {overflow:hidden; display:block; margin-top:2px; color:#959595; vertical-align:top; letter-spacing:0.05em; font-weight:normal}
.awards .count{position:absolute;font-size:24px;color:#ed1d24;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;font-style:italic;text-decoration:underline;font-weight:bold}
.awards .count.num1{left:2px;top:23px}
.awards .count.num2{left:101px;top:23px}
.swiper-container {position:relative;overflow:hidden;width:1230px;height:409px;margin-top:103px}
.swiper-wrapper {position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-transform:translate3d(0px, 0, 0);-moz-transform:translate3d(0px, 0, 0);-o-transform:translate(0px, 0px);-ms-transform:translate3d(0px, 0, 0);transform:translate3d(0px, 0, 0)}
.swiper-container-vertical .swiper-wrapper {-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column; flex-direction:column}
.swiper-slide {overflow:hidden;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex}
.swiper-container-vertical .swiper-slide {display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-pack:center; -ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.swiper-pagination {position:absolute;right:0;top:22px;text-align:center;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;-webkit-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);z-index:20}
.swiper-pagination-bullet {overflow:hidden;display:inline-block;width:10px;height:10px;margin-left:5px;background:url(../img/ico_bullet.png) -20px 0 no-repeat}
.swiper-pagination-bullet-active {background:url(../img/ico_bullet.png) 0 0 no-repeat}
.plusxcont{overflow:hidden;position:absolute;left:50%;top:50%;margin:-277px 0 0 -615px;height:571px}
.plusxcont .cont1{overflow:hidden;float:left;width:898px;height:100%;background:url(../img/img_about5_01.png) 0 0 no-repeat}
.plusxcont .cont2{position:relative;overflow:hidden;float:left;width:332px;height:100%}
.plusxcont .cont2 .type1{top:184px}
.plusxcont .cont2 .type2{top:348px}
.plusxcont .cont2 .type3{top:512px}
.plusxcont .cont2 .time{overflow:hidden;position:absolute;left:0;top:0;padding-left:7px;color:#fff;font-size:60px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;vertical-align:top;font-weight:bold;white-space:nowrap}
.plusxcont .cont2 .time em{overflow:hidden;display:inline-block;margin:-4px 2px 0 1px;vertical-align:top;font-family:Helvetica Neue,'Helvetica Neue',Helvetica}
.plusxcont .cont2 .time strong{display:block;color:#fff;font-size:14px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;vertical-align:top;font-weight:normal}
.plusxcont .cont2 .conta{overflow:hidden;position:absolute;left:0;width:100%}
.plusxcont .cont2 .conta strong{display:block;height:38px;padding-left:10px;color:#fff;font-size:34px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;vertical-align:top}
.plusxcont .cont2 .conta span{display:block;height:29px;padding-left:10px;color:#666;font-size:18px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;vertical-align:top}
.plusxcont .cont2 .conta a{position:relative;display:block;padding:7px 0 7px 10px;vertical-align:top;text-decoration:none}
.plusxcont .cont2 .conta a em{ position:relative;color:#fff;font-size:14px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;z-index:10}
.plusxcont .cont2 .conta.type3 span{cursor:pointer}
.plusxcont .cont2 .conta a::after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:#00aeef;-webkit-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:-webkit-transform 0.6s cubic-bezier(.95,0,.55,1), visibility 0s 0.6s;transition:transform 0.6s cubic-bezier(.95,0,.55,1), visibility 0s 0.6s}
.plusxcont .cont2 .conta a:hover::after{-webkit-transform:translateX(0%);transform:translateX(0%);-webkit-transition:-webkit-transform 0.2s cubic-bezier(0,.41,.4,1), visibility 0s 0.2s;transition:transform 0.2s cubic-bezier(0,.41,.4,1), visibility 0s 0.2s}
.plusxcont .cont2 .conta a::before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:url(../img/ico_email.gif) 300px 10px no-repeat;opacity:0;z-index:10}
.plusxcont .cont2 .conta a:hover::before{opacity:1;-webkit-animation-name:opc1;-webkit-animation-fill-mode:backwards;-webkit-animation-delay:0.1s;-webkit-animation-duration:0.1s;-webkit-animation-iteration-count:1;-webkit-animation-direction:normal;animation-name:opc1;animation-fill-mode:backwards;animation-delay:0.1s;animation-duration:0.1s;animation-iteration-count:1;animation-direction:normal}
#google_map{overflow:hidden;position:absolute;left:0;top:0;width:100%;height:100%;z-index:100;margin-left:0px}
.comp_info{overflow:hidden;position:absolute;right:0;top:0;width:430px;height:100%;z-index:110}
.comp_info .bg{overflow:hidden;position:absolute;right:0;top:0;width:430px;height:100%;background:#000;opacity:0.9}
.comp_info .ci_txt1{overflow:hidden;position:absolute;left:40px;top:50%;margin-top:-76px;z-index:10}
.comp_info .ci_txt1 strong{display:block;font-size:40px;color:#fff;font-family:Helvetica Neue,'Helvetica Neue',Helvetica}
.comp_info .ci_txt1 span{display:block;margin:2px 0 18px;font-size:14px;color:#fff;font-family:Helvetica Neue,'Helvetica Neue',Helvetica}
.comp_info .ci_txt1 em{display:block;font-size:12px;color:#666;line-height:20px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica}
.comp_info .ci_txt2{overflow:hidden;position:absolute;left:40px;bottom:58px;z-index:10;font-size:12px;color:#fff;line-height:18px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica}
.comp_info .ci_txt2 em{color:#00aeef}
.por_detail{overflow:hidden;position:fixed;width:100%;height:100%;left:0;top:0;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-transition:-webkit-transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s;transition:transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s;z-index:200;background:#fff}
.iframe_open .por_detail{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:-webkit-transform 0.3s cubic-bezier(.96,0,.56,1), visibility 0s 0.3s;transition:transform 0.3s cubic-bezier(.96,0,.56,1), visibility 0s 0.3s}
#gallery {margin-left:43px}
.gal_list {overflow:auto;position:relative;height:100%}
.gal_list ul{position:relative;left:0;top:50%;overflow:hidden;margin-top:-210px;padding-right:25px;white-space:nowrap}
.gal_list ul li{overflow:hidden;position:relative;display:inline-block;overflow:hidden;width:260px;height:420px;vertical-align:top}
.gal_list ul li a {display:block;overflow:hidden;width:260px;height:420px;vertical-align:top;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;transition:-webkit-transform 5s;transition:transform 5s}
.gal_list ul li a:hover{-webkit-transform:scale(1.2);transform:scale(1.2)}
.mximg{width:100%;max-width:100%;height:auto}
.exper_close{display:none;position:fixed;right:17px;top:0;width:120px;height:120px;background:url(../img/btn_close.png) 0 0 no-repeat;z-index:50;outline:none}
.share_btn{position:fixed;right:45px;bottom:45px}
.share_btn div{overflow:hidden;float:left}
.share_btn a{overflow:hidden;float:left}
.share_section{display:none;overflow:hidden;position:fixed;left:0;top:0;width:100%;height:100%;z-index:100}
.share_section .share_dim{overflow:hidden;position:absolute;left:0;top:0;width:100%;height:100%;opacity:0.9;background:#000}
.share_section .share_list{overflow:hidden;position:absolute;left:50%;top:50%;width:366px;height:60px;margin:-30px 0 0 -183px;z-index:10}
.share_section .share_list li{overflow:hidden;float:left;width:60px;height:60px;margin-right:1px}
.share_section .share_list li a{display:block;width:60px;height:60px;background:url(../img/sp_share_detail.png) 0 0 no-repeat}
.share_section .share_list li .facebook{ background-position:0 0}
.share_section .share_list li .twitter{ background-position:-61px 0}
.share_section .share_list li .pinterest{ background-position:-122px 0}
.share_section .share_list li .linkedin{ background-position:-183px 0}
.share_section .share_list li .googleplus{ background-position:-244px 0}
.share_section .share_list li .copylink{ background-position:-305px 0}
.share_section .share_list li .facebook:hover{ background-position:0 -80px}
.share_section .share_list li .twitter:hover{ background-position:-61px -80px}
.share_section .share_list li .pinterest:hover{ background-position:-122px -80px}
.share_section .share_list li .linkedin:hover{ background-position:-183px -80px}
.share_section .share_list li .googleplus:hover{ background-position:-244px -80px}
.share_section .share_list li .copylink:hover{ background-position:-305px -80px}
.share_section .copylink_pop{overflow:hidden;position:absolute;left:50%;bottom:0;width:365px;height:40px;margin-left:-182px;padding-top:20px;background:#fff;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;transition:transform 0.5s, visibility 0s 0.5s;font-size:14px;color:#000;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;text-align:center}
.share_section .copylink_pop.showp{-webkit-transform:translateY(-60px);transform:translateY(-60px);-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;transition:transform 0.5s, visibility 0s 0.5s}
.fb-like {margin:1px 10px 0 0;vertical-align:top}
.err{position:relative;width:100%;height:100%;background:#fff}
.err .msg_bx{position:absolute;left:40px;top:50%;height:65px;margin:-32px 0 0 0;padding-left:263px;background:url(../img/txt_oops.png) no-repeat}
.err .msg_bx p{margin-top:7px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;font-size:14px;color:#000;line-height:143%}

@-webkit-keyframes wd1{0%{width:35px}100%{width:236px}}
@-moz-keyframes wd1{0%{width:35px}100%{width:236px}}
@-o-keyframes wd1{0%{width:35px}100%{width:236px}}
@-ms-keyframes wd1{0%{width:35px}100%{width:236px}}
@keyframes wd1{0%{width:35px}100%{width:236px}}
@-webkit-keyframes wd2{0%{width:21px}100%{width:180px}}
@-moz-keyframes wd2{0%{width:21px}100%{width:180px}}
@-o-keyframes wd2{0%{width:21px}100%{width:180px}}
@-ms-keyframes wd2{0%{width:21px}100%{width:180px}}
@keyframes wd2{0%{width:21px}100%{width:180px}}
@-webkit-keyframes opc1{0%{opacity:0}100%{opacity:1}}
@-moz-keyframes opc1{0%{opacity:0}100%{opacity:1}}
@-o-keyframes opc1{0%{opacity:0}100%{opacity:1}}
@-ms-keyframes opc1{0%{opacity:0}100%{opacity:1}}
@keyframes opc1{0%{opacity:0}100%{opacity:1}}
@-webkit-keyframes mv1{0%{-webkit-transform:translateY(-80%);transform:translateY(-80%);opacity:0}100%{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:1}}
@-moz-keyframes mv1{0%{-webkit-transform:translateY(-80%);transform:translateY(-80%);opacity:0}100%{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:1}}
@-o-keyframes mv1{0%{-webkit-transform:translateY(-80%);transform:translateY(-80%);opacity:0}100%{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:1}}
@-ms-keyframes mv1{0%{-webkit-transform:translateY(-80%);transform:translateY(-80%);opacity:0}100%{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:1}}
@keyframes mv1{0%{-webkit-transform:translateY(-80%);transform:translateY(-80%);opacity:0}100%{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:1}}
@-webkit-keyframes wd4{0%{width:40px}100%{width:20px}}
@-moz-keyframes wd4{0%{width:40px}100%{width:20px}}
@-o-keyframes wd4{0%{width:40px}100%{width:20px}}
@-ms-keyframes wd4{0%{width:40px}100%{width:20px}}
@keyframes wd4{0%{width:40px}100%{width:20px}}
@media screen and (max-width:1654px){
.page2 .txt1{left:50%;width:1239px;margin:-277px 0 0 -619px}
.page2 .txt2{left:50%;width:1239px;height:434px;margin:-158px 0 0 -619px;background-size:100% auto}
}
@media screen and (max-width:1400px){
.page2 .txt1{left:50%;width:1084px;margin:-250px 0 0 -542px}
.page2 .txt2{left:50%;width:1084px;height:380px;margin:-131px 0 0 -542px;background-size:100% auto}
}
@media screen and (max-width:1366px){
.page1 .txt {left:50%;width:984px;height:194px;margin:-97px 0 0 -492px;background-size:auto 100%}
.page3 .txt1{left:50%;width:984px;margin:-230px 0 0 -492px}
.page3 .txt1 img{width:346px;height:66px}
.page3 .txt2{left:50%;width:984px;height:212px;margin:17px 0 0 -492px;background-size:100% auto}
.plusxcont{left:50%;width:984px;height:455px;margin:-227px 0 0 -492px;}
.plusxcont .cont1{width:589px;height:455px;background-size:auto 100%}
.plusxcont .cont2{width:232px;height:100%;margin-left:163px}
.plusxcont .cont2 .type1{top:146px}
.plusxcont .cont2 .type2{top:273px}
.plusxcont .cont2 .type3{top:400px}
.plusxcont .cont2 .time{font-size:41px}
.plusxcont .cont2 .time strong{font-size:12px}
.plusxcont .cont2 .conta{overflow:hidden;position:absolute;left:0;width:100%}
.plusxcont .cont2 .conta strong{height:38px;font-size:28px}
.plusxcont .cont2 .conta span{height:25px;font-size:16px}
.plusxcont .cont2 .conta a em{font-size:13px}
.awards{left:50%;width:984px;height:374px;margin:-163px 0 0 -492px;background-size:100% auto}
.swiper-container {width:984px;height:297px;margin-top:77px}
.awards .count{font-size:22px}
.awards .count.num1{left:0px;top:17px}
.awards .count.num2{left:78px;top:17px}
.swiper-pagination {top:17px}
.awards ul li dl {overflow:hidden; float:left; width:246px;}
.awards ul li dl dt {overflow:hidden; padding-bottom:15px; vertical-align:top}
.awards ul li dl dd {overflow:hidden; vertical-align:top; font-size:11px; font-family:Helvetica Neue,'Helvetica Neue',Helvetica}
}
@media screen and (max-width:1240px){
.page2 .txt1{left:50%;width:929px;margin:-220px 0 0 -464px}
.page2 .txt1 img{width:380px;height:45px}
.page2 .txt2{left:50%;width:929px;height:325px;margin:-106px 0 0 -464px;background-size:100% auto}
}
@media screen and (max-width:1460px) {
.people .p_list1{max-width:1262px}
.people .p_list1 ul{margin-right:10px}
.people .p_list1 ul li{width:308px}
.people .p_list1 ul li a{width:308px}
.people .p_list1 ul li a strong{width:140px}
.people .p_list1 ul li::before{background:url(../img/ico_email.gif) 284px 10px no-repeat}
}
@media screen and (max-width:1262px) {
.people .p_list1{max-width:636px}
.people .p_list1 .contsec{margin-top:-413px}
}
@media screen and (max-width:636px) {
.people .p_list1{max-width:308px}
.people .p_list1 .contsec{top:0;margin-top:0}
.people .p_list1 p{margin:0 0 50px;font-size:80px}
.people .p_list1 ul{float:none;margin:0}
}
@media screen and (max-height:650px){
.por_list ul{position:relative;left:0;top:116px;overflow:hidden;margin:0 0 0 43px;padding-right:25px;white-space:nowrap}
}
/* @-webkit-keyframes wd3{0%{width:0}100%{width:338px}}
@-moz-keyframes wd3{0%{width:0}100%{width:338px}}
@-o-keyframes wd3{0%{width:0}100%{width:338px}}
@-ms-keyframes wd3{0%{width:0}100%{width:338px}}
@keyframes wd3{0%{width:0}100%{width:338px}}
@-webkit-keyframes wd5{0%{width:0}100%{width:1230px}}
@-moz-keyframes wd5{0%{width:0}100%{width:1230px}}
@-o-keyframes wd5{0%{width:0}100%{width:1230px}}
@-ms-keyframes wd5{0%{width:0}100%{width:1230px}}
@keyframes wd5{0%{width:0}100%{width:1230px}}
@-webkit-keyframes op1{0%{ background-color:transparent}100%{  background-image:url(../img/bg_about2.jpg)}}
@-moz-keyframes op1{0%{ background-color:transparent}100%{  background-image:url(../img/bg_about2.jpg)}}
@-o-keyframes op1{0%{ background-color:transparent}100%{  background-image:url(../img/bg_about2.jpg)}}
@-ms-keyframes op1{0%{ background-color:transparent}100%{  background-image:url(../img/bg_about2.jpg)}}
@keyframes op1{0%{ background-color:transparent}100%{  background-image:url(../img/bg_about2.jpg)}}
@-webkit-keyframes mv2{0%{height:0}100%{height:547px}}
@-moz-keyframes mv2{0%{height:0}100%{height:547px}}
@-o-keyframes mv2{0%{height:0}100%{height:547px}}
@-ms-keyframes mv2{0%{height:0}100%{height:547px}}
@keyframes mv2{0%{height:0}100%{height:547px}} */
/*.open .people_now{-webkit-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:-webkit-transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s;transition:transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s}
.people_old{position:absolute;left:0;top:0;overflow:hidden;width:100%;height:100%;-webkit-transform:translateX(-14px) translateX(100%);transform:translateX(-14px) translateX(100%);-webkit-transition:-webkit-transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s;transition:transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s}
.more .people_old{-webkit-transform:translateX(-30px) translateX(100%);transform:translateX(-30px) translateX(100%);-webkit-transition:-webkit-transform 0.5s, visibility 0s 0.5s;transition:transform 0.5s, visibility 0s 0.5s}
.open.more .people_old{-webkit-transform:translateX(0);transform:translateX(0)}
.open .people_old{-webkit-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s;transition:transform 0.5s cubic-bezier(.96,0,.56,1), visibility 0s 0.5s}
.people_old .bg{position:absolute;left:0;top:0;overflow:hidden;width:100%;height:100%;background:#ffffff;opacity:0.92}
.people_old .p_list2{overflow:hidden;position:absolute;left:118px;top:50%;padding-left:137px;margin-top:-345px}
.people_old .p_list2 p{overflow:hidden;margin:0 0 73px -137px;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;font-size:100px;color:#333;font-weight:bold;letter-spacing:-1px}
.people_old .p_list2 p strong{color:#00aeef}
.people_old .p_list2 ul{overflow:hidden;float:left;margin-right:30px}
.people_old .p_list2 ul li{overflow:hidden;width:135px;height:28px;vertical-align:top;font-family:Helvetica Neue,'Helvetica Neue',Helvetica;font-size:14px;color:#333}
.opcls2{overflow:hidden;position:absolute;left:0;top:0;width:14px;height:100%;cursor:pointer}
.opcls2 .mainbtn{overflow:hidden;display:block;position:absolute;left:5px;top:50%;width:4px;height:7px;margin-top:-3px;background:url(../img/btn_exp.gif) 0 0 no-repeat}
.open .opcls2 .mainbtn{background:url(../img/btn_exp2.gif) 0 0 no-repeat}
.open .btn_gogl{background:url(../img/btn_gogallery2.png) right 0 no-repeat}
.page1 .txt1{overflow:hidden;position:absolute;left:197px;top:50%;margin-top:-154px}
.page1 .txt2{overflow:hidden;position:absolute;left:197px;top:50%;margin-top:-50px}
.page1 .txt3{overflow:hidden;position:absolute;left:197px;top:50%;margin-top:50px}
.viewing-page-1 .page1 .txt1{-webkit-transform:translateY(0px);transform:translateY(0px);-webkit-animation-name:mv1;-webkit-animation-fill-mode:backwards;-webkit-animation-delay:0.4s;-webkit-animation-duration:0.5s;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:cubic-bezier(.8,0,0,.8);-webkit-animation-direction:normal;animation-name:mv1;animation-fill-mode:backwards;animation-duration:0.5s;animation-delay:0.4s;animation-iteration-count:1;animation-timing-function:cubic-bezier(.8,0,0,.8);animation-direction:normal}
.viewing-page-1 .page1 .txt2{-webkit-transform:translateY(0px);transform:translateY(0px);-webkit-animation-name:mv1;-webkit-animation-fill-mode:backwards;-webkit-animation-delay:0.8s;-webkit-animation-duration:0.5s;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:cubic-bezier(.8,0,0,.8);-webkit-animation-direction:normal;animation-name:mv1;animation-fill-mode:backwards;animation-delay:0.8s;animation-duration:0.5s;animation-iteration-count:1;animation-timing-function:cubic-bezier(.8,0,0,.8);animation-direction:normal}
.viewing-page-1 .page1 .txt3{-webkit-transform:translateY(0px);transform:translateY(0px);-webkit-animation-name:mv1;-webkit-animation-fill-mode:backwards;-webkit-animation-delay:1.2s;-webkit-animation-duration:0.5s;-webkit-animation-iteration-count:1;-webkit-animation-timing-function:cubic-bezier(.8,0,0,.8);-webkit-animation-direction:normal;animation-name:mv1;animation-fill-mode:backwards;animation-delay:1.2s;animation-duration:0.5s;animation-iteration-count:1;animation-timing-function:cubic-bezier(.8,0,0,.8);animation-direction:normal} */

/* 171023 추가 */
.mv_bx{position:relative;overflow:hidden;width:100%;height:auto}
.mv_bx .mv{position:absolute;left:0;top:0;z-index:40;width:100%;height:100%}
.mv_bx .page_container{position:relative}
/* 171023 추가 */