@charset "utf-8";
@import "_var", "_mixin", "_function";

// light mode
#intro{
  background: #fff;
  .wrap{
    height: 100%;
    h3{
      @include transform(translateY(-100%));
      position: absolute;top: 50%;left: 0; font-size: 32px;text-align: center;width: 100%;font-weight: 500;
      p{letter-spacing: 2px;}
      span{
        @include flex;
        @include align-items;
        @include justify-content;
        ul{
          height: 100px;overflow: hidden;
          li{
            margin-bottom: 100px;font-family: "Shadows Into Light";font-size: 40px;line-height: 100px;padding: 0 5px;font-weight: bold;color: $green;
            &:first-child{@include animation(txtUp 8s cubic-bezier(0.22, 1.07, 0.32, 1.28) infinite);}
          }
        }
      }
    }
  }
}
#about{
  .content{
    @include flex;
    @include flex-wrap;
    @include justify-content(space-between);
    > div{
      width: calc(100%/3 - 20px);line-height: 24px;
      h5{color: $green;}
      p{font-size: 14px;}
      strong{display: block;font-weight: 500;font-size: 14px;}
      i{font-size: 16px;}
      .icon{
        @include flex;
        @include align-items;
      }
      #today{color: gray;vertical-align: top;font-size: 12px;}
    }
    .accordion{
      .acdnHeader{
        position: relative;width: 100%;padding-left: 8px;text-align: left;border-left: 4px solid $black;font-size: 16px;
        i{
          @include translateY-50;
          content: "";position: absolute;right: 0;top: 50%;
        }
      }
      .acdnHeader.on{border-color: $purple;}
      .acdnPanel{
        @include transition(all 0.8s);
        visibility: hidden;max-height: 0;overflow: hidden;
        > div{padding-left: 12px;}
      }
      .acdnPanel.on{
        @include transition(all 0.8s);
        visibility: visible;max-height: 300px;
      }
    }    
  }
}
#experience{
  .experience_history{
    li{
      position: relative;padding: 0 0 72px 62px;
      &::before{
        content: "";position: absolute;top: 22px;left: 5px;bottom: -3px;width: 2px;border-radius: 2px;background: #eee;
      }
      &:last-child{
        padding-bottom: 0;
        &::before{display:none}
      }
      &::after{
        content: "";position: absolute;top: 6px;left: 0;width: 12px;height: 12px;border-radius: 12px;background: $black;
      }
      a{
        display: block;overflow: hidden;
        > div{
          @include flex;
          .thumb_wrap{
            width: 240px;height: 180px;border-radius: 12px;overflow: hidden;
            img{width: 100%;height: 100%;@include transition(all 0.3s);}
            &:hover img, &focus img{
              @include transform(scale(1.1));
              @include transition(all 0.3s);
            }
          }
          .cnt_wrap{
            @include flex;
            @include flex-direction;
            @include justify-content(space-evenly);
            padding-left: 48px;
            .date{display: block;line-height: 32px;font-size: 18px;font-weight: 700;color: $green;}
            .title{font-size: 26px;}
            .tag_wrap{
              display: block;margin-top: 26px;
              .tag{display: inline-block;margin-right: 3px;font-size: 16px;color: gray;}
            }
          }
        }
      }
    }
  }  
}
#awards{
  .swiper-container{
    position: relative;padding-bottom: 66px;
    .swiper-wrapper{
      .swiper-slide{
        > div{
          .content_box{
            padding: 0;overflow: hidden;margin: 0 4px;
            .txt_wrap{
              display: block;padding: 20px 16px;background: url("../images/main/awards/txt_wrap_bg.png") no-repeat left / contain;font-size: 14px;
              h6{color: $green;}
              strong{line-height: 1.6;font-size: 20px;}
              .date{display: block;text-align: right;margin-top: 16px;}
            }
            .thumb_wrap{
              position: relative;height: 258px;overflow: hidden;
              img{position: absolute;width: 100%;min-height: 100%;@include transition(all 0.3s);}
              &:hover img, &:focus img{
                @include transform(scale(1.1));
                @include transition(all 0.3s);
              }
            }
          }
        }
      }
    }
    .controller{
      @include flex;
      position: absolute;bottom: 0; z-index: 100;
      .swiper-button-prev, .swiper-button-next{
        @include transition(all 0.3s);
        position: static;margin-top: 0;width: 42px;height: 42px;background: no-repeat 50% / cover;margin-right: 12px;border-radius: 42px;
        &::after{display: none;} // 기본 파란색 버튼 없애기
      }
      .swiper-button-prev{
        background-image: url("../images/main/awards/prev_btn.png");margin-left: 4px;margin-bottom: 4px;  // 그림자 잘림 해결
        &:hover, &:focus{background-image: url("../images/main/awards/prev_btn_hover.png");}
      }
      .swiper-button-next{
        background-image: url("../images/main/awards/next_btn.png");
        &:hover, &:focus{background-image: url("../images/main/awards/next_btn_hover.png");}
      }
    }
  }
}
#contact{
  .contact_wrap{
    text-align: center;margin-bottom: 100px;
    .contact_btn{
      @include transition(all 0.5s);
      position: relative;display: inline-block;font-size: 42px;font-weight: 700;max-width: calc(100% - 20px);margin-right: 19px;
      &::before{content: "";position: absolute;top: 10px;left: 10px;width: 100%;height: 100%;z-index: 1;background: $bg;}
      span{
        @include transition(all 0.1s);
        position: relative;top: 0;left: 0;display: inline-block;z-index: 2;border: 3px solid $purple;padding: 16px 24px;
      }
      &::after{content: "";position: absolute;top: 16px;left: 16px;width: 100%;height: 100%;z-index: 0;border: 3px solid $black;@include transition(all 0.5s);}
      &:hover{
        color: $purple;@include transition(all 0.3s);
        &::after{border-color: $purple;background: rgba(209, 161, 255, .5);@include transition(all 0.3s);}
      }
    }
    strong{@include transition(all 0.5s);display: block;margin-top: 60px;opacity: 0;}
  }
  .contact_bg{
    text-align: center;
    img{
      @include transition(all 0.5s);
      position: absolute;bottom: -100px;opacity: 0;width: 64px;height: 64px;
      &:nth-child(odd){bottom: -50px;}
      &:nth-child(1){left: 21%;}
      &:nth-child(2){left: 14%;}
      &:nth-child(3){left: 7%}
      &:nth-child(4){left: 0;}
      &:nth-child(5){right: 21%;}
      &:nth-child(6){right: 14%;}
      &:nth-child(7){right: 7%;}
      &:nth-child(8){right: 0;}
  }
  }
  .contact_wrap.on{
    .contact_btn span{top: 10px;left: 10px;}
    + .contact_bg img{
      bottom: 30px;opacity: 1;
      &:nth-child(odd){bottom: 80px;}
    }
    strong{@include transition(all 0.5s);opacity: 1;color: $purple;}
  }
}

// dark mode
html.dark{
  .content_box{background: $d_black2;}
  #intro{
    background: $d_black2;
    .wrap{
      h3{
        span{
          ul{
            li{
              color: $purple;
            }
          }
        }
      }
    }  
  }
  #about{
    .content{
      > div{
        h5{color: $purple;}
        p{color: $d_white2;}
      }
      .accordion{
        .acdnHeader{border-color: $d_white1;}
        .acdnHeader.on{border-color: $blue;}
      }    
    }
  }
  #experience{
    .experience_history{
      li{
        &::before{
          background: $d_black2;
        }
        &::after{
          background: $d_white1;
        }
        a{
          > div{
            .cnt_wrap{
              .date{color: $purple;}
            }
          }
        }  
      }
    }
  }
  #awards{
    .swiper-container{
      .swiper-wrapper{
        .swiper-slide{
          > div{
            .content_box{
              .txt_wrap{
                background-image: url("../images/main/awards/txt_wrap_bg_dark.png");
                h6{color: $purple;}
              }
            }
          }
        }
      }
      .controller{
        .swiper-button-prev{
          background-image: url("../images/main/awards/prev_btn_dark.png");
          &:hover, &:focus{background-image: url("../images/main/awards/prev_btn_hover.png");}
        }
        .swiper-button-next{
          background-image: url("../images/main/awards/next_btn_dark.png");
          &:hover, &:focus{background-image: url("../images/main/awards/next_btn_hover.png");}
        }
      }
    }
  }
  #contact{
    .contact_wrap{
      .contact_btn{
        &::before{background: $d_black1;}
        &::after{border-color: $d_white1;}
        &:hover{
          &::after{border-color: $purple;}
        }  
      }
    }
  }
}

// 작은 pc (1440px) - vw변환해서 1440px 비율 기준으로, 더 작은 pc 전까지 유지
@media screen and (max-width: 1440px) {
  #about{
    .content{
      > div{
        width: calc(100%/3 - #{vw-calc1440(20)});line-height: vw-calc1440(24);
        p{font-size: vw-calc1440(14);}
        strong{font-size: vw-calc1440(14);}
        i{font-size: vw-calc1440(16);}
        #today{font-size: vw-calc1440(12);}
      }
      .accordion{
        .acdnHeader{font-size: vw-calc1440(16);}
      }  
    }
  }
  #awards{
    .swiper-container{
      .swiper-wrapper{
        .swiper-slide{
          > div{
            .content_box{
              .thumb_wrap{
                height: vw-calc1440(200);
              }
            }
          }
        }
      }
    }
  }
  #contact{
    .contact_wrap{
      margin-bottom: 100px;
    }
  }
}

// 더 작은 pc (1320px) - vw변환해서 1320px 비율 기준으로, 태블릿 전까지 유지
@media screen and (max-width: 1320px) {
  #about{
    .content{
      > div{
        width: calc(100%/3 - #{vw-calc1320(20)});line-height: vw-calc1320(24);
        p{font-size: vw-calc1320(14);}
        strong{font-size: vw-calc1320(14);}
        i{font-size: vw-calc1320(16);}
        #today{font-size: vw-calc1320(12);}
      }
      .accordion{
        .acdnHeader{font-size: vw-calc1320(16);}
      }  
    }
  }
  #awards{
    .swiper-container{
      .swiper-wrapper{
        .swiper-slide{
          > div{
            .content_box{
              .thumb_wrap{
                height: vw-calc1320(200);
              }
            }
          }
        }
      }
    }
  }
}

// 태블릿 (1152px) - vw변환해서 1152px 비율 기준으로, 모바일 전까지 유지
@media screen and (max-width: 1152px) {
  #about{
    .content{
      > div{
        width: calc(100%/3 - #{vw-calc1152(20)});line-height: vw-calc1152(24);
        p{font-size: vw-calc1152(14);}
        strong{font-size: vw-calc1152(14);}
        i{font-size: vw-calc1152(16);}
        #today{font-size: vw-calc1152(12);}
      }
      .accordion{
        .acdnHeader{font-size: vw-calc1152(16);}
      }  
    }
  }  
  #experience{
    .experience_history{
      li{
        padding: 0 0 vw-calc1152(72) vw-calc1152(62);
        &::before{
          top: vw-calc1152(22);left: vw-calc1152(5);bottom: vw-calc1152(-3);width: vw-calc1152(2);border-radius: vw-calc1152(2);
        }
        &::after{
          top: vw-calc1152(6);width: vw-calc1152(12);height: vw-calc1152(12);border-radius: vw-calc1152(12);
        }
        a{
          > div{
            .thumb_wrap{
              width: vw-calc1152(240);height: vw-calc1152(180);border-radius: vw-calc1152(12);
            }
            .cnt_wrap{
              padding-left: vw-calc1152(40);
              .date{line-height: vw-calc1152(32);font-size: vw-calc1152(18);}
              .title{font-size: vw-calc1152(26);}
              .tag_wrap{
                margin-top: vw-calc1152(26);
                .tag{margin-right: vw-calc1152(3);font-size: vw-calc1152(16);}
              }
            }
          }
        }
      }
    }  
  }
  #awards{
    .swiper-container{
      .swiper-wrapper{
        .swiper-slide{
          > div{
            .content_box{
              margin: 0 vw-calc1152(4);
              .txt_wrap{
                padding: vw-calc1152(20) vw-calc1152(16);font-size: vw-calc1152(14);
                strong{font-size: vw-calc1152(20);}
                .date{margin-top: vw-calc1152(16);}
              }
              .thumb_wrap{height: vw-calc1152(200);}
            }
          }
        }
      }
    }
  }  
  #contact{
    .contact_bg{
      img{display: none;} // 태블릿 부터는 터치밖에 안되니까 hover 요소 없애기
    }
  }
}

// 모바일 (767px)
@media screen and (max-width: 767px) {

}