@charset "utf-8";
@import "_var", "_mixin";

/* motion keyframes */
@keyframes scroll {
  0%, 100% {
    -moz-transform:translateX(-50%) translateY(0);
    -ms-transform:translateX(-50%) translateY(0);
    -webkit-transform:translateX(-50%) translateY(0);
    transform:translateX(-50%) translateY(0);
  }
  40%, 80% {
    -moz-transform:translateX(-50%) translateY(10px);
    -ms-transform:translateX(-50%) translateY(10px);
    -webkit-transform:translateX(-50%) translateY(10px);
    transform:translateX(-50%) translateY(10px);
  }
}
@keyframes round {
  0% {
      -moz-transform: translateX(-50%) rotate(0);
      -ms-transform: translateX(-50%) rotate(0);
      -webkit-transform: translateX(-50%) rotate(0);
      transform: translateX(-50%) rotate(0);
  }
  100% {
      -moz-transform: translateX(-50%) rotate(360deg);
      -ms-transform: translateX(-50%) rotate(360deg);
      -webkit-transform: translateX(-50%) rotate(360deg);
      transform: translateX(-50%) rotate(360deg);
  }
}

// pc (1920px)
body{height: 2000px;}

#main{
  background: #fff;
  .wrap{
    height: 100%;
    h3{
      @include transform(translateY(-100%));
      position: absolute;top: 50%;left: 0; font-size: 26px;text-align: center;width: 100%;font-weight: 400;line-height: 1.7;
    }
    #scrollBtn{
      @include translateX-50;
      position: absolute;bottom: 240px;left: 50%;width: 32px;height: 48px;border: 3px solid $black;border-radius: 20px;
      &::after{
        @include animation(scroll 2s infinite);
        content: "";position: absolute;top: 8px;left: 50%;width: 8px;height: 8px;background: $black;border-radius: 20px;
      }
    }
  }
}