/* dark mode */
#intro {
  background: #fff;
}

#intro .wrap {
  height: 100%;
}

#intro .wrap h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 32px;
  text-align: center;
  width: 100%;
  font-weight: 500;
}

#intro .wrap h3 p {
  letter-spacing: 2px;
  line-height: 1.4;
}

#intro .wrap h3 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intro .wrap h3 span ul {
  height: 70px;
  overflow: hidden;
}

#intro .wrap h3 span ul li {
  margin-bottom: 70px;
  font-family: "Shadows Into Light";
  font-size: 40px;
  line-height: 70px;
  padding: 0 5px;
  font-weight: bold;
  color: #55B36B;
}

#intro .wrap h3 span ul li:first-child {
  -webkit-animation: txtUp 8s cubic-bezier(0.22, 1.07, 0.32, 1.28) infinite;
  animation: txtUp 8s cubic-bezier(0.22, 1.07, 0.32, 1.28) infinite;
}

#about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .content > div {
  width: calc(100%/3 - 20px);
  line-height: 24px;
}

#about .content > div h5 {
  color: #55B36B;
}

#about .content > div p {
  font-size: 14px;
}

#about .content > div strong {
  display: block;
  font-weight: 500;
  font-size: 14px;
}

#about .content > div i {
  font-size: 16px;
}

#about .content > div .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .content > div #today {
  color: gray;
  vertical-align: top;
  font-size: 12px;
}

#about .content .accordion .acdnHeader {
  position: relative;
  width: 100%;
  padding-left: 8px;
  text-align: left;
  border-left: 4px solid #1E1E1E;
  font-size: 16px;
}

#about .content .accordion .acdnHeader i {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
}

#about .content .accordion .acdnHeader.on {
  border-color: #D1A1FF;
}

#about .content .accordion .acdnPanel {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
}

#about .content .accordion .acdnPanel > div {
  padding-left: 12px;
}

#about .content .accordion .acdnPanel.on {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  visibility: visible;
  max-height: 300px;
}

#experience .experience_history li {
  position: relative;
  padding: 0 0 72px 62px;
}

#experience .experience_history li::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 5px;
  bottom: -3px;
  width: 2px;
  border-radius: 2px;
  background: #eee;
}

#experience .experience_history li:last-child {
  padding-bottom: 0;
}

#experience .experience_history li:last-child::before {
  display: none;
}

#experience .experience_history li::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: #1E1E1E;
}

#experience .experience_history li a {
  display: block;
  overflow: hidden;
}

#experience .experience_history li a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#experience .experience_history li a > div .thumb_wrap {
  width: 318px;
  height: 182px;
  border-radius: 12px;
  overflow: hidden;
}

#experience .experience_history li a > div .thumb_wrap .video_bg {
  width: 100%;
  height: 100%;
}

#experience .experience_history li a > div .cnt_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 48px;
}

#experience .experience_history li a > div .cnt_wrap .date {
  display: block;
  line-height: 32px;
  font-size: 18px;
  font-weight: 700;
  color: #55B36B;
}

#experience .experience_history li a > div .cnt_wrap .title {
  font-size: 26px;
}

#experience .experience_history li a > div .cnt_wrap .tag_wrap {
  display: block;
  margin-top: 26px;
}

#experience .experience_history li a > div .cnt_wrap .tag_wrap .tag {
  display: inline-block;
  margin-right: 3px;
  font-size: 16px;
  color: gray;
}

#awards .swiper-container {
  position: relative;
  padding-bottom: 66px;
}

#awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box {
  padding: 0;
  overflow: hidden;
  margin: 0 4px;
}

#awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .txt_wrap {
  display: block;
  padding: 20px 16px;
  background: url("../images/main/awards/txt_wrap_bg.png") no-repeat left/contain;
  font-size: 14px;
}

#awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .txt_wrap h6 {
  color: #55B36B;
}

#awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .txt_wrap strong {
  line-height: 1.6;
  font-size: 20px;
}

#awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .txt_wrap .date {
  display: block;
  text-align: right;
  margin-top: 16px;
}

#awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .thumb_wrap {
  position: relative;
  height: 258px;
  overflow: hidden;
}

#awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .thumb_wrap img {
  position: absolute;
  width: 100%;
  min-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .thumb_wrap:hover img, #awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .thumb_wrap:focus img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#awards .swiper-container .controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 100;
}

#awards .swiper-container .controller .swiper-button-prev, #awards .swiper-container .controller .swiper-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: static;
  margin-top: 0;
  width: 42px;
  height: 42px;
  background: no-repeat 50% / cover;
  margin-right: 12px;
  border-radius: 42px;
}

#awards .swiper-container .controller .swiper-button-prev::after, #awards .swiper-container .controller .swiper-button-next::after {
  display: none;
}

#awards .swiper-container .controller .swiper-button-prev {
  background-image: url("../images/main/awards/prev_btn.png");
  margin-left: 4px;
  margin-bottom: 4px;
}

#awards .swiper-container .controller .swiper-button-prev:hover, #awards .swiper-container .controller .swiper-button-prev:focus {
  background-image: url("../images/main/awards/prev_btn_hover.png");
}

#awards .swiper-container .controller .swiper-button-next {
  background-image: url("../images/main/awards/next_btn.png");
}

#awards .swiper-container .controller .swiper-button-next:hover, #awards .swiper-container .controller .swiper-button-next:focus {
  background-image: url("../images/main/awards/next_btn_hover.png");
}

#contact .contact_wrap {
  text-align: center;
  margin-bottom: 100px;
}

#contact .contact_wrap .contact_btn {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  display: inline-block;
  font-size: 42px;
  font-weight: 700;
  max-width: calc(100% - 20px);
  margin-right: 19px;
}

#contact .contact_wrap .contact_btn::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #f9f9f9;
}

#contact .contact_wrap .contact_btn span {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  z-index: 2;
  border: 3px solid #D1A1FF;
  padding: 16px 24px;
}

#contact .contact_wrap .contact_btn::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  z-index: 0;
  border: 3px solid #1E1E1E;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#contact .contact_wrap .contact_btn:hover {
  color: #D1A1FF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#contact .contact_wrap .contact_btn:hover::after {
  border-color: #D1A1FF;
  background: rgba(209, 161, 255, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#contact .contact_wrap strong {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: block;
  margin-top: 60px;
  opacity: 0;
}

#contact .contact_bg {
  text-align: center;
}

#contact .contact_bg img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  bottom: -100px;
  opacity: 0;
  width: 64px;
  height: 64px;
}

#contact .contact_bg img:nth-child(odd) {
  bottom: -50px;
}

#contact .contact_bg img:nth-child(1) {
  left: 21%;
}

#contact .contact_bg img:nth-child(2) {
  left: 14%;
}

#contact .contact_bg img:nth-child(3) {
  left: 7%;
}

#contact .contact_bg img:nth-child(4) {
  left: 0;
}

#contact .contact_bg img:nth-child(5) {
  right: 21%;
}

#contact .contact_bg img:nth-child(6) {
  right: 14%;
}

#contact .contact_bg img:nth-child(7) {
  right: 7%;
}

#contact .contact_bg img:nth-child(8) {
  right: 0;
}

#contact .contact_wrap.on .contact_btn span {
  top: 10px;
  left: 10px;
}

#contact .contact_wrap.on + .contact_bg img {
  bottom: 30px;
  opacity: 1;
}

#contact .contact_wrap.on + .contact_bg img:nth-child(odd) {
  bottom: 80px;
}

#contact .contact_wrap.on strong {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  color: #D1A1FF;
}

html.dark .content_box {
  background: #35363A;
}

html.dark #intro {
  background: #35363A;
}

html.dark #intro .wrap h3 span ul li {
  color: #D1A1FF;
}

html.dark #about .content > div h5 {
  color: #D1A1FF;
}

html.dark #about .content > div p {
  color: #ccc;
}

html.dark #about .content .accordion .acdnHeader {
  border-color: #f9f9f9;
}

html.dark #about .content .accordion .acdnHeader.on {
  border-color: #64C2FF;
}

html.dark #experience .experience_history li::before {
  background: #35363A;
}

html.dark #experience .experience_history li::after {
  background: #f9f9f9;
}

html.dark #experience .experience_history li a > div .cnt_wrap .date {
  color: #D1A1FF;
}

html.dark #awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .txt_wrap {
  background-image: url("../images/main/awards/txt_wrap_bg_dark.png");
}

html.dark #awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .txt_wrap h6 {
  color: #D1A1FF;
}

html.dark #awards .swiper-container .controller .swiper-button-prev {
  background-image: url("../images/main/awards/prev_btn_dark.png");
}

html.dark #awards .swiper-container .controller .swiper-button-prev:hover, html.dark #awards .swiper-container .controller .swiper-button-prev:focus {
  background-image: url("../images/main/awards/prev_btn_hover.png");
}

html.dark #awards .swiper-container .controller .swiper-button-next {
  background-image: url("../images/main/awards/next_btn_dark.png");
}

html.dark #awards .swiper-container .controller .swiper-button-next:hover, html.dark #awards .swiper-container .controller .swiper-button-next:focus {
  background-image: url("../images/main/awards/next_btn_hover.png");
}

html.dark #contact .contact_wrap .contact_btn::before {
  background: #202124;
}

html.dark #contact .contact_wrap .contact_btn::after {
  border-color: #f9f9f9;
}

html.dark #contact .contact_wrap .contact_btn:hover::after {
  border-color: #D1A1FF;
}

@media screen and (max-width: 1440px) {
  #about .content > div {
    width: calc(100%/3 - 1.38889vw);
    line-height: 1.66667vw;
  }
  #about .content > div p {
    font-size: 0.97222vw;
  }
  #about .content > div strong {
    font-size: 0.97222vw;
  }
  #about .content > div i {
    font-size: 1.11111vw;
  }
  #about .content > div #today {
    font-size: 0.83333vw;
  }
  #about .content .accordion .acdnHeader {
    font-size: 1.11111vw;
  }
  #awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .thumb_wrap {
    height: 13.88889vw;
  }
  #contact .contact_wrap {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1320px) {
  #about .content > div {
    width: calc(100%/3 - 1.51515vw);
    line-height: 1.81818vw;
  }
  #about .content > div p {
    font-size: 1.06061vw;
  }
  #about .content > div strong {
    font-size: 1.06061vw;
  }
  #about .content > div i {
    font-size: 1.21212vw;
  }
  #about .content > div #today {
    font-size: 0.90909vw;
  }
  #about .content .accordion .acdnHeader {
    font-size: 1.21212vw;
  }
  #awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .thumb_wrap {
    height: 15.15152vw;
  }
}

@media screen and (max-width: 1152px) {
  #about .content > div {
    width: calc(100%/3 - 1.73611vw);
    line-height: 2.08333vw;
  }
  #about .content > div p {
    font-size: 1.21528vw;
  }
  #about .content > div strong {
    font-size: 1.21528vw;
  }
  #about .content > div i {
    font-size: 1.38889vw;
  }
  #about .content > div #today {
    font-size: 1.04167vw;
  }
  #about .content .accordion .acdnHeader {
    font-size: 1.38889vw;
  }
  #experience .experience_history li {
    padding: 0 0 6.25vw 5.38194vw;
  }
  #experience .experience_history li::before {
    top: 1.90972vw;
    left: 0.43403vw;
    bottom: -0.26042vw;
    width: 0.17361vw;
    border-radius: 0.17361vw;
  }
  #experience .experience_history li::after {
    top: 0.52083vw;
    width: 1.04167vw;
    height: 1.04167vw;
    border-radius: 1.04167vw;
  }
  #experience .experience_history li a > div .thumb_wrap {
    width: 27.60417vw;
    height: 15.79861vw;
    border-radius: 1.04167vw;
  }
  #experience .experience_history li a > div .cnt_wrap {
    padding-left: 3.47222vw;
  }
  #experience .experience_history li a > div .cnt_wrap .date {
    line-height: 2.77778vw;
    font-size: 1.5625vw;
  }
  #experience .experience_history li a > div .cnt_wrap .title {
    font-size: 2.25694vw;
  }
  #experience .experience_history li a > div .cnt_wrap .tag_wrap {
    margin-top: 2.25694vw;
  }
  #experience .experience_history li a > div .cnt_wrap .tag_wrap .tag {
    margin-right: 0.26042vw;
    font-size: 1.38889vw;
  }
  #awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box {
    margin: 0 0.34722vw;
  }
  #awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .txt_wrap {
    padding: 1.73611vw 1.38889vw;
    font-size: 1.21528vw;
  }
  #awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .txt_wrap strong {
    font-size: 1.73611vw;
  }
  #awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .txt_wrap .date {
    margin-top: 1.38889vw;
  }
  #awards .swiper-container .swiper-wrapper .swiper-slide > div .content_box .thumb_wrap {
    height: 17.36111vw;
  }
  #contact .contact_bg img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #intro .wrap h3 {
    font-size: 24px;
  }
  #intro .wrap h3 p {
    letter-spacing: 1px;
  }
  #intro .wrap h3 span ul li {
    font-size: 36px;
  }
}
